#testWalksBtn {
  position: relative; /* inside topBar, stays on right */
}
#topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  z-index: 3000; /* above sidebar */
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}

#toggleSidebar {
  position: relative; /* inside topBar, stays on left */
}
#container {
  margin-top: 50px;
  position: relative;
  z-index: 1; /* Ensure it is below the context menu */

}

#sidebar {
  width: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  background: #eee;
  overflow-y: auto;
  padding: 10px;
  transition: width 0.2s;
  z-index: 2500; /* higher than the map/stage */
}

#sidebar.collapsed {
  width: 0px;
  overflow: hidden;
  padding: 0;
}

#contextMenu {
  display: none;
  position: absolute;
  z-index: 1000; /* Ensure it appears above the Konva canvas */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}